.contact {
  .top-banner {
    position: relative;
    min-height: 300px;
    height: 50vh;
    background-image: url('~@/assets/img/contact_top.jpg');
    @include bg-img(cover, center);
  }

  textarea {
    min-height: 100px;
  }
}