@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding-left: 0;
  list-style: none;
}

.transition {
  transition: 0.2s ease-out;
}

:root {
  --animate-delay: 0.5s !important;
}