.intro {
  background-image: url('~@/assets/img/main_img.jpg');
  @include bg-img(cover, center);
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(41, 41, 41, 0.5);
  z-index: 90;
}

.slogan {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hiring {
  .hiring-banner {
    background-image: url('~@/assets/img/hiring_banner.png');
    @include bg-img(cover, center);
    height: 50vh;

    @include media-breakpoint-down(md) {
      height: 40vh;
      background-image: url('~@/assets/img/hiring_banner_sm.png');
    }
  }
}